/*
----01 TYPOGRAPHY SYSTEM

    FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    FONT WEIGHT

    LINE HEIGHTS
    Default:1

    SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

---- 02 COLORS
 - Primary: #e67e22
 - Tints : #fdf2e9
 - Shades: 
 - Accents:
 - Greys:
    #555
    #333

---- 05 SHADOWS

----06 BORDER RADIUS

----07 WHITESPACE

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}